header {
  background-color: #fafaff;

  .header_top {
    &-logo-acessibility {
      .logo {
        margin-right: 20px;

        img {
          width: 100%;
          max-width: 85px;
        }
      }

      .acessibility {
        span {
          font-family: "Roboto";
        }

        button {
          margin: 0 10px;
          background-color: #ffffff;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          font-family: Roboto;
          font-size: 13px;
          font-weight: bold;
          color: #333333;
          padding: 0;
          outline: 0;
        }
      }

      .play {
        background-color: transparent;
        border: none;
        font-size: 15px;
        font-weight: bold;
        margin-left: 50px;
        cursor: pointer;
      }
    }

    &-login {
      span {
        font-family: "Roboto";
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .header_bottom {
    background-color: #ffffff;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-shadow: 0px 5px 5px 0px #FAFAFA;
      padding: 0;
      padding-top: 4px;

      li {
        list-style: none;
        padding-bottom: 4px;
        cursor: pointer;
        width: 33%;
        text-align: center;

        &:hover {
          border-bottom: 4px solid #D81818;
          padding-bottom: 0;
        }

        p {
          margin: 0;
          font-family: "Roboto";
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

main {

  .wrapper-movies,
  .wrapper-movies-highlights {
    h2 {
      font-family: 'Roboto';
      font-weight: bold;
    }

    .photos {
      position: relative;

      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: #000000;
        opacity: .7;
        border: none;
        font-size: 0;
        outline: none;
        width: 45px;
        height: 50px;

        &.slick-prev {
          left: 10px;
          border-radius: 0 20px 20px 0;

          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 20px 10px 0;
            border-color: transparent #ffffff transparent transparent;
          }
        }

        &.slick-next {
          right: 10px;
          border-radius: 20px 0 0 20px;

          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 20px;
            border-color: transparent transparent transparent #ffffff;
          }
        }
      }

      a {
        position: relative;
        padding: 10px;
        transition: all .5s;

        &:hover {
          transform: scale(1.05);
        }

        svg {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 25px;
          height: 25px;
        }

        img {
          border-radius: 8px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

footer {
  background-color: #fafaff;

  .footer_top {
    border-bottom: 1px solid rgba(80, 80, 80, 0.15);

    .social {
      span {
        font-family: "Roboto";
        font-size: 16px;
      }
    }
  }

  .footer_bottom {
    .app {
      span {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: bold;
      }
    }

    .institutional {
      .mobile {
        display: none;
      }

      span {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: bold;
      }

      ul {
        margin: 20px 0 0 0;
        padding: 0;

        li {
          list-style: none;
          padding-bottom: 10px;

          a {
            color: #000000;
            font-family: "Roboto";
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {

    .header_top {
      &-logo-acessibility {
        .logo {
          margin-right: 0;
        }

        .acessibility {

          button {
            margin: 0 5px;
          }
        }

        .play {
          margin-left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  header {

    .header_top {
      &-logo-acessibility {

        .acessibility,
        .play {
          display: none;
        }
      }
    }
  }

  footer {
    .footer_bottom {
      flex-direction: column;
      margin-top: 20px;

      .app {
        width: 100% !important;
      }

      .institutional {
        width: 100% !important;
        position: relative;

        .desktop {
          display: none;
        }

        .mobile {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          &::after {
            content: ">";
            font-size: 20px;
            position: absolute;
            top: 0px;
            right: 0;
            display: block;
          }

          ul {
            display: none;

            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}
