header {
  background-color: #fafaff;

  .header_top {
    &-logo-acessibility {
      .logo {
        margin-right: 20px;

        img {
          width: 100%;
          max-width: 85px;
        }
      }

      .acessibility {
        span {
          font-family: "Roboto";
        }

        button {
          margin: 0 10px;
          background-color: #ffffff;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          font-family: Roboto;
          font-size: 13px;
          font-weight: bold;
          color: #333333;
          padding: 0;
          outline: 0;
        }
      }

      .play {
        background-color: transparent;
        border: none;
        font-size: 15px;
        font-weight: bold;
        margin-left: 50px;
        cursor: pointer;
      }
    }

    &-login {
      span {
        font-family: "Roboto";
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .header_bottom {
    background-color: #ffffff;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-shadow: 0px 5px 5px 0px #FAFAFA;
      padding: 0;
      padding-top: 4px;

      li {
        list-style: none;
        padding-bottom: 4px;
        cursor: pointer;
        width: 33%;
        text-align: center;

        &:hover {
          border-bottom: 4px solid #D81818;
          padding-bottom: 0;
        }

        p {
          margin: 0;
          font-family: "Roboto";
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

main {

  .wrapper-movies,
  .wrapper-movies-highlights {
    h2 {
      font-family: 'Roboto';
      font-weight: bold;
    }

    .photos {
      position: relative;

      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: #000000;
        opacity: .7;
        border: none;
        font-size: 0;
        outline: none;
        width: 40px;
        height: 40px;

        &.slick-prev {
          left: 5px;
          border-radius: 0 20px 20px 0;

          &::before {
            content: '<';
            font-family: "Roboto";
            font-size: 20px;
            color: #ffffff;
          }
        }

        &.slick-next {
          right: 5px;
          border-radius: 20px 0 0 20px;

          &::before {
            content: '>';
            font-family: "Roboto";
            font-size: 20px;
            color: #ffffff;
          }
        }
      }

      a {
        position: relative;
        padding: 10px;
        transition: all .5s;

        &:hover {
          transform: scale(1.05);
        }

        svg {
          position: absolute;
          top: 20px;
          right: 20px;
          width: 25px;
          height: 25px;
        }

        img {
          border-radius: 8px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

footer {
  background-color: #fafaff;

  .footer_top {
    border-bottom: 1px solid rgba(80, 80, 80, 0.15);

    .social {
      span {
        font-family: "Roboto";
        font-size: 16px;
      }
    }
  }

  .footer_bottom {
    .app {
      span {
        font-family: "Roboto";
        font-size: 20px;
        font-weight: bold;
      }
    }

    .institutional {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          padding-bottom: 10px;

          a {
            color: #000000;
            font-family: "Roboto";
            text-decoration: none;
          }
        }
      }
    }
  }
}
